

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.panel .panel-heading .dropdown {
	float: right;
}

/*loginform*/
.login{
    margin-top: 30px;
}
    .login h1 {
        font-size: 63px;
    }
    .login p {
        font-size: 21px;
        margin-bottom: 30px;
    }
    .login .btn-primary {
        display: none;
    }

.loading {
    width: 32px;
    height: 32px;
    margin: 15px auto;
}

.myGrid {
    width: 500px;
    height: 250px;
}
.ui-grid-contents-wrapper {
    color: #000;
}













.view {

}
