<!DOCTYPE html>
<div class="panel panel-primary text-left" ng-controller="OrderDisplayController"
     ng-init="tableDisplay = tableDisplay || []">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">View orders</h3>
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs dropdown-toggle" 
                    type="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                Display<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="column in results.columns()">
                    <a href="#" ng-click="tableDisplay[column] = !tableDisplay[column]">
                        <i ng-show="tableDisplay[column]" class="glyphicon glyphicon-eye-open"></i>
                        <i ng-show="!tableDisplay[column]" class="glyphicon glyphicon-eye-close"></i>
                        &nbsp;&nbsp;Column &quot;{{column}}&quot;
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form role="form" ng-submit="refresh()">
                    <div class="input-group">
                        <input type="text" class="form-control"  ng-model="query"
                               placeholder="Search terms or voucher code">
                        <span class="input-group-btn">
                            <a class="btn btn-success glyphicon glyphicon-search" ng-click="refresh()"></a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-right">
                    {{queryInformation}}
                </p>
            </div>
        </div>
        <div class="row" ng-show="results.rowsAmount() > 0">
            <div class="col-md-12" ng-show="isLoading">
                Loading...
            </div>
            <div class="col-md-12" ng-show="!isLoading">
                <div class="panel panel-primary" style="height:400px;overflow:auto">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th ng-repeat="column in results.columns()" 
                                    ng-show="tableDisplay[column]">
                                    {{column}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rowNumber in [0, results.rowsAmount()]| makeRange">
                                <td ng-repeat="cellNumber in [0, results.row(rowNumber).length] | makeRange"
                                    ng-show="tableDisplay[results.columns()[cellNumber]]">
                                    {{results.row(rowNumber)[cellNumber]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pager">
                    <li class="previous" ng-show="page > 0">
                        <a href="#" ng-click="page = page-1;refresh()">
                            ←  Prev
                        </a>
                    </li>
                    <li class="next" ng-show="results.rowsAmount() >= entriesPerPage">
                        <a href="#" ng-click="page = page+1;refresh()">Next  →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>