<!DOCTYPE html>
<!--
Copyright (C) 2016 cardcompact

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html class="no-js" lang="" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The table</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-brevis-theme.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="MyCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
    <!-- 
    displays CuzaPIE.Spreadsheet 
    table - the CuzaPIE.Spreadsheet 
    -->    
    <products-spreadsheet table="table1">
        <!--span style="color:#fff; display:block; margin: 30px;text-align: center"><img src="img/loading.gif"></span-->
    </products-spreadsheet>

    <button type="button" id="display" class="btn btn-success" ng-click="display()">Display</button>   

    <script src="js/vendor/jquery-1.11.2.min.js"></script>
        
    <!--script src="js/vendor/angular.min.js"></script-->
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-touch.js"></script>
    <script src="js/vendor/angular-animate.js"></script>
    <script src="js/vendor/angular-sanitize.min.js"></script>
   
    <script src="js/vendor/ui-bootstrap-0.14.3.min.js"></script>
    <script src="js/vendor/cuzapie.js"></script>
    
    <link rel="stylesheet" href="css/ui-grid.css">
    <script src="js/vendor/ui-grid.min.js"></script>
    
    <script>
        angular.module('app', ['tableApp'])
    
        .controller('MyCtrl',  ['$scope', function($scope) {
            var spreadsheet = new CuzaPIE.Spreadsheet("col01", "col02", "col03", "col04");
            spreadsheet.addRow("11value01", "11value02", "11value02", "11value02");
            spreadsheet.addRow("11value03", "11value04", "11value04", "11value04");

            $scope.table1 = spreadsheet;
            
            $scope.display = function(){
                alert($scope.table1.cell('col01', $scope.table1.row(2)));
            }
        }]);
        
    </script>
    
    <script src="js/app-table.js"></script>

    <link rel="stylesheet" href="css/main.css">
    </body>
</html>
