<!--
Brevis Reloaded
Copyright (C) 2015, Prepaid24 GmbH

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->



<div class="container login">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Brevis Reloaded</h1>
            <p class="text-center ng-class: {'text-success': flash.type === 'success', 'text-danger': flash.type === 'error' }; " ng-bind="flash.message">Please authenticate yourself.</p>
            
            <div class="loading" ng-if="vm.dataLoading"><img src="img/giphy.gif" width="32px"></div>

            <form class="form-horizontal" ng-submit="vm.login()" role="form">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="vm.email" required>
                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="vm.password" required>
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="submit" class="btn btn-primary">Use SC Auth</button>
                    </div>
                    <div class="col-sm-offset-7 col-sm-1 text-right">
                        <button type="submit" class="btn btn-default" ng-disabled="form.$invalid || dataLoading">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
