/*
Copyright (C) 2016 Prepaid24 GmbH

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

html,body {
    margin:0;
    padding:0;
    height:100%;
    background-color: #420000;
    color:#CCCCCC;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

#overlayText {
    z-index:12;
    display:block;
    position:absolute;
    padding:20px 0px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size:40px;
    width:100vw;
    background-color:rgba(0,0,0,0.5);
    text-align:center;
    bottom:8vh;
    opacity: 0;
    transition: opacity 2s;
    
}

.shown {
    opacity: 1 !important;
    transition: opacity 2s;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
        transition: opacity 2s;
}

#loadingOverlay {
    background-color: rgba(0,0,0,1);
    width:100%;
    height:100%;
    position:absolute;
    z-index: 11;
    color:#666666;
    font-weight: 500;
    line-height: 100vh;
    text-align:center;
    animation: fadeInLoad 3s;
}

@keyframes fadeInLoad {
    from {
        color:#000000;
    }
    to {
        color:#666666;
    }
}

#loadingOverlay.hidden {
    background-color: rgba(0,0,0,0);
    display:none;
    transition: color 2s, display 0.5s;
}

#leftOverlay {
    left:0;
    background-color: #110000;
    width:50vw;
    height:100%;
    position:absolute;
    z-index: 10;
    box-shadow: 6px 0px 12px 0px rgba(0,0,0,0.5);
    transition: left 3s;
}

#leftOverlay.collapsed {
    left:-30vw;
    transition: left 3s;
}

#logoContainer {
    width: 100%;
    height: 90%;
    top:5%;
    position: relative;
    perspective: 70vw;
}

#logo {
    position: absolute;
    width: 90%;
    left: 25vw;
    height: 90%;
    top:5%;
    animation: turningLogo 8s linear infinite;
    transition: rotateY 3s, 
        height 3s, 
        width 3s,
        top 3s, 
        left 3s,
        animation-timing-function 1s,
        animation-iteration-count 1s;
}

@keyframes turningLogo {
    from {
        transform: rotateY( 0deg );
    }
    to {
        transform: rotateY( 360deg );
    }
}

#logo.static {
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    height: 20%;
    width: 20%;
    top:40%;
    left: 45vw;
    transition: rotateY 3s, 
        height 3s, 
        width 3s,
        top 3s, 
        left 3s,
        animation-timing-function 1s,
        animation-iteration-count 1s;
}

#rightOverlay {
    background-color: #200000;
    width:80vw;
    height:100%;
    position:absolute;
    right:0;
    z-index: 9;
    box-shadow: -4px 0px 10px 0px rgba(0,0,0,0.75);
    transition: width 3s;
}

#rightOverlay.collapsed {
    width: 23.2vw;
    transition: width 3s;
}

#buttonBar {
    display: table;
    position:absolute;
    height: 100%;
    width: 20.05vw;
    background-color:#550000;
    transition: opacity 2s;
}

.buttonBarButton{
    display:table-row;
    width: 80%;
    margin:10%;
}

#button_m2c_img {
    position:relative;
    display:block;
    width:18vw;
    padding:10px 2.5vw;
    top:10vh;
    left:0.6vw;
}

#button_c2m_img{
    position:relative;
    display:block;
    width:13vw;
    padding:10px 5vw;
    top:100px;
    left:0.3vw;
}

#button_c_img {
    position:absolute;
    width: 23vh;
    left:6vw;
    top:39vh;
}

#button_c {
    background-color:#400000;
}

#formContainer {
    vertical-align: central;
}

.inputForm {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 43vw;
    left:29vw;
}

.inputFormGroup {
    width:100%;
    margin:10px 0px;
}

span.inputFormGroup {
    font-size: 25px;
    font-weight: 400;
}

input.inputFormGroup{
    height:35px;
    border-radius: 8px;
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    padding:5px;
}

input.inputFormGroup.requestSend{
    background: #fdf5b9;
    border-color: gold;
}

select.inputFormGroup{
    height:50px;
    border-radius: 8px;
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    padding:5px;
    width: 102%;
}

button.inputFormGroup {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family: 'Fira Sans', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:18px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
        width: 102%;
        padding-top: 20px;
        margin-top: 60px;
}
button.inputFormGroup:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
button.inputFormGroup:active {
	position:relative;
	top:1px;
}
