<!--
Copyright (C) 2015 cardcompact

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top1" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brevis Reloaded</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" >
            <menu class="nav navbar-nav navbar-right">
                <li><a href="#">Oberview</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Mail</a></li>
                <li><a href="#">Lists</a></li>
                <li class="dropdown" uib-dropdown  dropdown-append-to-body>
                    <a href class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
                        Settings
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"  role="menu" aria-labelledby="btn-append-to-body">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Accounts</a></li>
                        <li><a href="#">System</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Logout</a>
                    <span class="timer"></span>
                </li>
            </menu>
        </div><!--/.navbar-collapse -->
    </div>
 </nav>
