<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <style>
            html,
            body,
            #sectionMain{
              height: 100%;
            }
            footer {
                height: 40px;
                padding:10px;
            }
            #sectionMainContent{
                  min-height: 100%;
              height: auto;
              /* Negative indent footer by its height */
              margin: 0 auto -40px;
              /* Pad bottom by footer height */
              padding: 0 0 40px;
            }
        </style>
        <title>Brevis Reloaded</title>
        <script src="/js/vendor/cuzapie.js"></script>
        <script src="main.js"></script>
    </head>
    <body ng-app="app">
        <!--Login section-->
        <div class="cover" style="display:none" id="sectionLogin"> 
            <div class="cover-image"></div>
            <div class="container"> 
                <div class="row"> 
                    <div class="col-md-12 text-center"> 
                        <h1>Brevis Reloaded</h1> 
                        <p>Please authenticate yourself.</p>
                        <br><br>
                        <form class="form-horizontal" role="form" id="formLogin">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="loginInputEmail" class="control-label">Email</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="loginInputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="loginInputPassword" class="control-label">Password</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="loginInputPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2 text-right">
                                    <button type="submit" class="btn btn-default" id="loginInputSubmit">Sign in</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
        <!--Main menu-->
        <div id="sectionMain" style="display:none">
            <div id="sectionMainContent">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"><span>Brevis Reloaded</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Order management&nbsp;<i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#" ng-click="currentPage='templates/section-showOrders.html'">Show orders</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="currentPage='templates/section-comissionOrders.html'">Comission orders</a>
                                    </li>
                                    <li>
                                        <a href="#">Manage payments and shipping</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Account management</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Product management</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Collection management&nbsp;<i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">One more separated link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Various&nbsp;<i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">One more separated link</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Log-Out<br></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" ng-include="currentPage"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="section-primary"> <div class="container"><div class="row"><div class="col-md-12"><p>(C) Card Compact Ltd, 2015</p></div></div></div></footer>
        </div>
    </body>
</html>